.outer-container {
  width: 100%;
  /* border: 1px solid black; */
  border-radius: 10px;
  height: 6px;
  width: 100%;
  /* margin-top: 16px; */
  position: fixed;
  /* padding: 16px; */
  height: 16px;
}

.inner-container {
  height: 16px;
  transition: all 0.1s ease-in-out;
  /* width: 100%; */
  background-color: red;
  z-index: 9999999999;
  position: absolute;
}
